<%= render "shared/banner" %>
<% if @users%>
  <%= render "search"%>
  <div class="table-users" style="margin-top: 70px;">
    <table cellspacing="0" class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Created at</th>
          <th scope="col">Role</th>
          <th scope="col">Option</th>
        </tr>
        <% @users.each do |u| %>
          <tr>
            <th scope="col"><%=u.id%></th>
            <th scope="col"><%=u.name%></th>
            <th scope="col"><%=u.email%></th>
            <th scope="col"><%=u.created_at%></th> 
            <th scope="col"><%=u.role%></th>
            <th scope="col"></th>
          </tr>
        <% end %>
      </thead>
    </table>
  </div>
  <%= will_paginate @users %>
<% else %>
  <h1 style="text-align: center; margin-top: 100px;">
    User List is emptying <i class="far fa-frown"></i>
  </h1>
  <%= link_to books_url  do %>
    <h3 style="text-align: center; ">
    <i class= "fas fa-arrow-right"></i>Go to Book & Media
    </h3>
  <% end %>
<% end %>