
<!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Sign Up</h2>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><%= link_to "Home", root_url %></li>
                <li><%= link_to "Log In", login_path %></li>
                <li>SignUp</li>
            </ul>
        </div>
    </div>
</section>
<!-- End: Page Banner -->

<!-- Start: Cart Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="signin-main">
                <div class="container">
                    <div class="woocommerce">
                        <div class="woocommerce-login">
                            <div class="company-info signin-register">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="company-detail bg-dark margin-center">
                                                <div class="signin-head">
                                                    <h2 style="text-align: center;" >Sign in</h2>
                                                    <span class="underline center"></span>
                                                </div>
                                                <form class="login" method="post">

                                                   <div class="row">
                                                      <%= form_for(@user) do |f| %>
                                                      <%= render 'shared/error_messages', object: f.object %>
                                                      <%= f.label :name %>
                                                      <%= f.text_field :name, class: 'form-control' %>
                                                      <%= f.label :email %>
                                                      <%= f.email_field :email, class: 'form-control' %>
                                                      <%= f.label :password %>
                                                      <%= f.password_field :password, class: 'form-control' %>
                                                      <%= f.label :password_confirmation, "Confirmation" %>
                                                      <%= f.password_field :password_confirmation, class: 'form-control' %>
                                                      <%= f.submit "Create my account", class: "btn btn-primary" %>
                                                      <% end %>
                                                  </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
